
.DS_Store

build/build_settings.json

build/copy_to_st_package.py

build/freeze_dev_osx.py

build/freeze_osx.py

build_settings.json

copy_to_st_package.py

dist/*

freeze_dev_osx.py

*.pyc

lib/debug.log

mm.spec

mm.sublime-project

tools/*

test/test_workspace/*
